@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,200;1,400;1,500&display=swap');
/*reset all element */
*{ 
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
    cursor: pointer;
}

#wrapper{
    width: 100%;
    /* 100 viewpoint */
    height: 100vh; 
}

#header{
    width: 100%;
    /*padding top and bottom are 0px and padding left and right are 30px */
    padding: 0px 30px; 
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menu{
    list-style: none;
    display: flex;
}

#menu .item{
    margin: 0px 25px;
}

#menu .item a{
    text-decoration: none;
    color: #626a67
}

#actions {
    display: flex;
}

#actions .item{
    margin-left: 22px;
}


#banner {
    width: 100%;
    background-image :url("assets/banner.png");
    height: 463px;
    margin-top:40px;
    display: flex;
    padding:0px 133px;
    position:relative;
}

#banner .box-left, #banner .box-right {
    width: 50%;
}

#banner .box-left h2{
    font-size: 48px;
    margin-top: 75px;
    color: #fff;

}

#banner .box-left p{
    color: #D0D0D0;
}

#banner .box-left button{
    width: 191px;
    height: 40px;
    margin-top: 41px;
    background: #1d1a1a;
    border: none;
    outline: none;
    color: #fff;
    font-weight: bold;
    border-radius: 20px;
    transition: 0.4s; /* set the time to change when hover button */
}

#banner .box-left button:hover{
    background: orange;
}

